.conatiner {
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  flex: 1 1 100%;
}

.col {
  border: 1px solid;
  width: 50%;
}

div .field {
  height: 100px;
  min-width: 50%;
  /* min-height: 15em; */
  text-align: center;
  /* padding: 16%; */
}

.field > span{
  font-size: 5em;
}

.list-nav {
  display: flex;
  list-style: none;
}

.list-nav > li {
  width: 50%;
}

.btn {
  border: 1px solid;
  padding: 1%;
  font-size: 15px;
  font-family: fantasy;
  width: 60%;
  background: none;
}

.btn-success {
   background: orangered;
   color: white;
}