body{
  font-family: monospace;
  color: dodgerblue;
}

.conatiner {
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  flex: 1 1 100%;
}

.col {
  border: 1px solid;
  width: 50%;
}

div .field {
  height: 100px;
  min-width: 50%;
  text-align: center;
}

.field > span{
  font-size: 5em;
}

.list-nav {
  display: flex;
  list-style: none;
}

.list-nav > li {
  width: 50%;
}

.btn {
  border: 1px solid;
  padding: 1%;
  font-size: 15px;
  font-family: fantasy;
  width: 60%;
  background: none;
}

.btn-success {
   background: #0073aa;
   color: white;
}

#result{
  margin: 0;
  color: red;
  font-size: 20px;
  text-transform: uppercase;
}

header{
  text-align: center;
  font-size: 50px;
  font-family: monospace;
  border-bottom: 1px dashed;
}

#games{
  margin: 0;
  color: #4CAF50;
  font-size: 20px;
  text-transform: uppercase;
}